*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
}

body{
  color:white;
  background-color: #130f40;
}


/*PARTIE AFFICHAGE ONGLETS*/
.navbar{
  display:flex;
  justify-content: center;
  align-items:center;
  min-height: 7vh;
  background-color: #23232e;
}

.navbar-list{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  list-style: none;
  margin:auto;
}

.navbar-list a{
  color:white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 30px;
  transition: all 0.2s ease;
}

.navbar-list a:hover{
  color: #27ae60;
  font-size: 35px;
}



/*PARTIE AFFICHAGE NAVBAR GAUCHE*/
.tabs{
	position: -webkit-sticky;
  	position: sticky;
 	top: 0;
 	margin-left: -45px;

};
.onglet{
	border: solid 1px blue;
	padding : 3px 3px;
	text-decoration: none;
}
.tabs .active{
	background: #ef5777;
	color : white;
}

.tabs li{
	list-style: none;/*enlève les points noirs de la liste*/
}


.tab{
	display : block;
}





/*PARTIE LOGIQUE JS AFFICHAGE ONGLETS*/
.affiche{
  display:block;
}

.non-affiche{
  display:none;
}
